@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
/* 
body {
  background-color: #555;
} */

.container {
  margin: 0 auto;
  width: 500px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.quiz {
  padding: 20px;
  padding-bottom: 0;
  min-height: 350px;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}

.question,
.question-index {
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 20px;
}

.answer-list {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 4px 7px;
  border: 1px solid #222;
}

.current-question {
  margin-top: 20px;
  text-align: center;
}

.pass {
  color: rgb(14, 220, 14);
  font-weight: 700;
  margin-bottom: 20px;
}

.fail {
  color: rgb(220, 14, 31);
  font-weight: 700;
  margin-bottom: 20px;
}

.score {
  color: rgb(28, 13, 233);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

.multi-answer {
  display: none;
  font-size: 12px;
  margin-top: 15px;
  color: purple;
}

.review {
  margin-top: 20px;
}

.review-correct {
  color: green;
  display: none;
}

.review-incorrect {
  color: red;
  display: none;
}

.features {
  position: absolute;
  left: calc(100% + 30px);
  top: 0;
  font-size: 13px;
}

.features h2 {
  padding: 0;
  margin: 0;
}

/* Account */

.login {
  position: absolute;
  left: 20px;
  top: 35px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login a {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

/* account end */

.login a:hover {
  color: red !important;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

  display: none;

  z-index: 999999999;
}

#result-modal .modal-body p {
  text-align: center;
}

/* Table mark */

.table-mark {
  position: absolute;
  top: 80px;
  left: 20px;
}

th,
td {
  border: 1px solid #222;
  padding: 2px 4px;
}

.table-col-1 {
  padding-right: 20px;
}

.table-col-2 {
  padding-right: 20px;
  max-width: 200px;
  text-overflow: ellipsis;
}
